<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="ISO-8859-1">
  <title>User Home</title>
</head>
<body>
<div align="center">
 <h1>Welcome to your User home</h1>
    <div>
        <form >
            <p>
                <label >E-mail:</label>
                <input type="text" th:value="${user.username}">
            </p>
        </form>
    </div>

</div>
</body>
</html>